<div class="max-w-6xl mx-auto">
  <p-menubar [model]="items" styleClass="rounded-none">
    <ng-template pTemplate="start">
      <div class="mr-8">Web Driver</div>
    </ng-template>
  </p-menubar>
  <div class="mt-5 mx-4">
    <h1 class="text-2xl">Search delivery</h1>
    <hr class="my-8" />
    <form (ngSubmit)="search()" [formGroup]="searchForm" class="gap-4 flex">
      <input
        placeholder="Enter Delivery ID"
        pInputText
        id="from_name"
        class="flex-auto"
        formControlName="delivery_id"
      />
      <p-button
        [loading]="searching"
        type="submit"
        [disabled]="!searchForm.valid"
        label="Submit"
      />
    </form>

    <hr class="my-6" />
    <div class="flex gap-8" *ngIf="delivery">
      <div class="w-1/2">
        <div>
          <div class="card mb-6 flex justify-content-center">
            <p-buttonGroup>
              <p-button [loading]="updating" (onClick)="updateStatus('picked-up')" [disabled]="delivery.status != 'open'" severity="primary" label="Picked" />
              <p-button [loading]="updating" (onClick)="updateStatus('in-transit')" [disabled]="delivery.status != 'picked-up'" severity="warning" label="In-Transit" color />
              <p-button [loading]="updating" (onClick)="updateStatus('delivered')" [disabled]="delivery.status != 'in-transit'" severity="success" label="Delivered" />
              <p-button [loading]="updating" (onClick)="updateStatus('failed')" [disabled]="delivery.status == 'failed' || delivery.status == 'delivered'" severity="danger" label="Failed" />
            </p-buttonGroup>
          </div>
          <div>
            <div>
              <h2 class="text-xl">Package Details</h2>
              <p-table
                [value]="[delivery]"
                [tableStyle]="{ 'min-width': '50rem' }"
              >
                <ng-template pTemplate="body">
                  <tr>
                    <td>Description</td>
                    <td>{{ delivery.package.description }}</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>{{ delivery.package.weight }} KG</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>{{ delivery.package.width }} CM</td>
                  </tr>
                  <tr>
                    <td>Depth</td>
                    <td>{{ delivery.package.depth }} CM</td>
                  </tr>
                  <tr>
                    <td>From</td>
                    <td>
                      {{ delivery.package.from_name }}
                      <p class="text-sm text-gray-500">
                        {{ delivery.package.from_address }}
                      </p>
                      <p class="text-xs text-gray-500">
                        (Lat: {{ delivery.package.from_location.lat }}, Lng:
                        {{ delivery.package.from_location.lng }})
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>TO</td>
                    <td>
                      {{ delivery.package.to_name }}
                      <p class="text-sm text-gray-500">
                        {{ delivery.package.to_address }}
                      </p>
                      <p class="text-xs text-gray-500">
                        (Lat: {{ delivery.package.to_location.lat }}, Lng:
                        {{ delivery.package.to_location.lng }})
                      </p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div>
              <h2 class="text-xl">Delivery Details</h2>
              <p-table
                [value]="[delivery]"
                [tableStyle]="{ 'min-width': '50rem' }"
              >
                <ng-template pTemplate="body">
                  <tr>
                    <td>Status</td>
                    <td>{{ delivery.status }}</td>
                  </tr>
                  <tr>
                    <td>Started at</td>
                    <td>
                      {{
                        delivery.start_time == null
                          ? "N/A"
                          : (delivery.start_time! | date)
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Picked at</td>
                    <td>
                      {{
                        delivery.pickup_time == null
                          ? "N/A"
                          : (delivery.pickup_time! | date)
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Ended at</td>
                    <td>
                      {{
                        delivery.end_time == null
                          ? "N/A"
                          : (delivery.end_time! | date)
                      }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/2 flex-auto">
        <google-map
          [options]="mapOptions"
          class="w-full"
          [center]="center"
          [zoom]="zoom"
        >
          <map-advanced-marker
            *ngFor="let marker of markerPositions"
            [position]="marker.position"
            [content]="marker.content"
            [title]="marker.title"
            [options]="marker.options"
          >
          </map-advanced-marker>
        </google-map>
      </div>
    </div>
    <ng-template #empty> </ng-template>
  </div>
  <p-toast />
</div>
